$primary: #651fff;
$primary-dark: #5218d0;
$danger: #fb4e4e;
$danger-dark: #fa4141;
$heart-color: #FF4081;
$danger-light: #ffbfbf;
$safety-light: #bcfbc2;
$gray: #dbe2e6;
$gray-dark: #666666;
$gray-darkest: #3b3b3b;
$disabled: #dbe2e6;
$disabled-dark: #d3d6d8;
$text-color: #312c3a;
$text-color-dark: #151416;
$text-color-disabled: #0000001a;
$title-text-color: #152536;
$file-input-text-color: #323232;
$element-border-color: #dbe2e6;
$element-border-color-dark: #acadad;
$element-placeholder-color: rgba(0, 0, 0, 0.3);
$return-button-color: rgba(0, 0, 0, 0.6);
$light-gray: #f1f5f7;
$additional-light-gray: #f8f8f8;
$link-color: #2ba3fb;
$white: #fff;
